.wishlistActions {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 0;
    /* gap: 10px; */
    /* Added spacing between buttons */
}

.wishListItem {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.wishlistProduct {
    display: flex;
    align-items: center;
    width: 100%;
}

.wishlistProduct img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.alert-container {
    visibility: hidden;
    color: hsl(134, 74%, 47%);
}

.alert-icon {
    margin-right: 5px;
}

.addToCart,
.removeFromWishList {

    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    padding: 4px 8px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    width: 100%
}

.addToCart:hover {
    background-color: rgba(19, 19, 19, 0.1);
}

.removeFromWishList {
    background-color: hsl(354, 70%, 54%);
}

.removeFromWishList:hover {
    background-color: hsl(354, 70%, 46%);
}