.navbar {
  width: 100%;
  height: 80px;
  background-color: #4299E1;
  display: flex;
  align-items: center;
  /* Align items vertically in the center */
}

.navbar-categories {
  background-color: hsl(207, 85%, 55%);
  display: flex;
  align-items: start;
  padding-left: 3%;

}

.navbar-categories button {
  padding-right: 18px;
  padding-left: 18px;
  border: none;
  background-color: inherit;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;

}

.navbar-categories button:hover {

  background-color: hsl(0, 0%, 20%);


}

.links {
  width: 100%;
  /* Make links container take full width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distribute space between site name and elements */
  padding: 0 50px;
  /* Add padding to the container */
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.site-name {
  font-size: 25px;
}

.site-name a {
  /* Style the link */
  text-decoration: none;
  color: white;
}

.right-elements {
  display: flex;
  align-items: center;
}

.navbar-element {
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
}

.navbar-element:hover {
  background-color: hsl(0, 0%, 20%);
}

.navbar-element-subtext {
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  right: 75px;
  top: 10px;
  font-size: 12px;
  background-color: hsl(44, 100%, 56%);
  color: black;
  border-radius: 100%;
  padding-left: 4px;
  padding-right: 4px;

  font-weight: bold;

}